<!-- views/partials/footer.ejs -->

<footer class="page-footer white">
  <div class="footer-copyright white">
    <div class="black-text container">
    © 2018 Copyright Group 33
    <a class="black-text text-lighten-4 right" href="#!">Hannah Chung | Edward Lee | Bret Getz<br/></a>
    </div>
  </div>
</footer>
<script src="/src/js/jquery-3.3.1.min.js"></script>
<script src="/src/js/mainscript.js"></script>
<script src="/src/js/materialize.js"></script>
