<!-- views/partials/header.ejs -->
<nav>
  <div class="nav-wrapper blue darken-3">
    <a href="#" class="brand-logo">anyWear</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/createtrip">+NewTrip</a></li>
      <li><a href="/current">CurrentTrip</a></li>
      <li><a href="/alltrips">Trips</a></li>
      <li><a href="./profile">Profile</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/createtrip">NewTrip</a></li>
  <li><a href="/current">CurrentTrip</a></li>
  <li><a href="/alltrips">Trips</a></li>
  <li><a href="./profile">Profile</a></li>
</ul>
