<!-- views/partials/header.ejs -->

<nav class="white">
  <div class="nav-wrapper container">
    <a href="/alltrips" class="brand-logo black-text">anyWear</a>
    <a href="#" data-target="mobile-demo" class=" black-text sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="black-text" id="createTrip" href="/createtrip">+NewTrip</a></li>
      <li><a class="black-text" id="current">CurrentTrip</a></li>
      <li><a class="black-text" id="allTrips" href="/alltrips">Trips</a></li>
      <li><a class="black-text" id="profile1" href="/profile">Profile</a></li>
      <li><a class="black-text" id="signOut" href="/">SignOut</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/createtrip">NewTrip</a></li>
  <li><a href="/current">CurrentTrip</a></li>
  <li><a href="/alltrips">Trips</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/">SignOut</a></li>
</ul>

<script src="/src/js/jquery-3.3.1.min.js"></script>
<script src="/src/js/header.js"></script>
