<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">anyWear</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">CurrentTrip<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trips">Trips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile
          <!-- <img src="https://dummyimage.com/150x150/ffd9ff/fff&text=face" alt="profile-img" id="profileImage"/> -->
        </a>

      </li>
    </ul>
  </div>
</nav>
  </div>
