<!-- views/pages/calendar.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <main class="mx-auto container">

    <div id="divifm">
      <iframe id="ifmCalendar"
        src="https://www.google.com/calendar/embed?
        height=550&amp;wkst=1&amp;bgcolor=%23FFFFFF&
        amp;src=24tn4fht2sssdssfdiqqlsedk%40group.calendar.google.com&
        amp;color=%238C500B&amp;ctz=Asia%2FCalcutta"
         frameborder="0" scrolling="no">
      </iframe>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
  </body>
</html>
