<!-- views/pages/currenttrip.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <input id="search_term" type="text" placeholder="hello"/>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
    <script src="./src/js/mapsapi.js"></script>
  </body>
</html>
