<!-- views/pages/currenttrip.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link href="./src/css/createtrip.css" rel="stylesheet"/>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <% include ../partials/loading %>
  <div id="background-back"></div>
  <main class="container">
    <div id="createtrip_main">
      <div id="rowcontainer">
        <div class="row">
          <form class="col s12">
            <div id="header-for-create">
              <h2 class="white-text">Create a trip</h2>
              <h5 class="white-text">Beautiful outfits</h5>
              <h5 class="white-text">For anyone, anywhere, anytime</h5>
            </div>
            <div id= "search_container" class="row">
              <div class="input-field col l4 m12 s12">
                <input class="" name="destination" id="search_term_input" required="required" type="text" oninvalid="this.setCustomValidity('Please fill in your destination.')" oninput="this.setCustomValidity('')" onfocus="hideBagSelection(this)" placeholder=""/>
                <label class="active" for="search_term_input">Enter a destination</label>
              </div>
              <div class="input-field col l2 m6 s12">
                <input class="datepicker" name="checkin" id="check_in_input" required="required" type="text"  pattern='.{1,}' onfocus="hideBagSelection(this)" placeholder="" autoComplete="off"/>
                <label for="check_in_input">Check in</label>
              </div>
              <div class="input-field col l2 m6 s12">
                <input class="datepicker" name="checkout" id="check_out_input" required="required" type="text"  pattern='.{1,}'  onfocus="hideBagSelection(this)" placeholder="" autoComplete="off"/>
                <label for="check_out_input">Check out</label>
              </div>
              <div class="input-field col l2 m6 s12">
                <input class="" name="bagsize" id="bag_size_input" type="text" required="required" pattern='.{1,}' onfocus="showBagSelection(this)" placeholder="" autoComplete="off"/>
                <label for="bagsize">Size</label>
              </div>
              <div class="input-field col l2 m6 s12 center-align">
                <button id="buttonNext" class="btn waves-effect waves-light yellow darken-2" type="submit" name="action" value="next">Next
                  <i class="material-icons right">send</i>
                </button>
              </div>
              <div id="inner">
                <div id="bag_container" class="col s12">
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </main>
  </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <script src="./src/js/createtrip.js"></script>
  <script src="./src/js/mapsapi.js"></script>
</body>
</html>
