<!-- views/pages/currenttrip.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link href="./src/css/currenttrip.css" rel="stylesheet"/>
</head>
<body>
  <header>

    <% include ../partials/header %>
  </header>

  <main class="container">
    <div id="carouselOuterContainer">
      <div class="carousel-fixed-item center middle-indicator">
        <div id="indicatorContainer" class="">
          <div class="left">
            <a href="previous" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator">
              <i class="material-icons left  middle-indicator-text">chevron_left</i></a>
          </div>
          <div class="right">
            <a href="after" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator">
              <i class="material-icons right middle-indicator-text">chevron_right</i></a>
          </div>
        </div>
      </div>
      <div id="carouselID" class="carousel carousel-slider" data-indicators="true">
        <a class="carousel-item" href="#one!" >
          <img src="https://dummyimage.com/200x200/f5c57d/ffffff&text=anyWear">
          <img src="https://dummyimage.com/200x200/f5c57d/ffffff&text=anyWear">
          <img src="https://dummyimage.com/200x200/f5c57d/ffffff&text=anyWear">
        </a>
        <a class="carousel-item" href="#two!">
          <img src="https://dummyimage.com/200x200/f5c57d/ffffff&text=anyWear">
          <img src="https://dummyimage.com/200x200/f5c57d/ffffff&text=anyWear">
          <!-- <img src="https://dummyimage.com/200x200/f5c57d/ffffff&text=anyWear"> -->
        </a>
        <a class="carousel-item" href="#three!">
          <img src="https://dummyimage.com/200x200/f5c57d/ffffff&text=anyWear">
          <img src="https://dummyimage.com/200x200/f5c57d/ffffff&text=anyWear">
          <!-- <img src="https://dummyimage.com/200x200/f5c57d/ffffff&text=anyWear"> -->
        </a>
      </div>
    </div>
    <section id="outfitSection">

    </section>
  </main>
    <!-- Possibly a calendar api here -->

    <% include ../partials/footer %>

  <script src='./src/js/weatherapi.js'></script>
  <script src="./src/js/currenttrip.js"/></script>
</body>
</html>
