<!-- views/pages/currenttrip.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container" >
  <header>
    <% include ../partials/header %>
    </header>

    <main>

      <div id="carouselOuterContainer">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item outfitItem active">
              <div class="outfitImageCon" alt="First slide">
                <img class="d-block w-100" src="https://dummyimage.com/200x200/444400/fff">
                <img class="d-block w-100" src="https://dummyimage.com/200x200/444400/fff">
                <img class="d-block w-100" src="https://dummyimage.com/200x200/444400/fff">
              </div>
            </div>
            <div class="carousel-item outfitItem">
              <div class="outfitImageCon" alt="First slide">
                <img class="d-block w-100" src="https://dummyimage.com/200x200/004444/fff">
                <img class="d-block w-100" src="https://dummyimage.com/200x200/004444/fff">
                <img class="d-block w-100" src="https://dummyimage.com/200x200/004444/fff">
              </div>
            </div>
            <div class="carousel-item outfitItem">
              <div class="outfitImageCon" alt="First slide">
                <img class="d-block w-100" src="https://dummyimage.com/200x200/004400/fff">
                <img class="d-block w-100" src="https://dummyimage.com/200x200/004400/fff">
                <img class="d-block w-100" src="https://dummyimage.com/200x200/004400/fff">
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <section id="outfitSection">

      </section>
    </main>
    <!-- Possibly a calendar api here -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
