<!-- views/pages/trip.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>

  <link rel="stylesheet" href="/src/css/profile.css" />

</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
      <div id='profilePage'>
          <div id='profile'>

              <img id='profilePhoto' src='https://dummyimage.com/400x400/a8d2ff/000000.png&text=profile' alt='profile'/>
              <p id="userName">
                  User Name
              </p>
              <p id="email">
                 Email
              </p>
              <p id="gender">
                 Gender
              </p>
              <p id="age">
                 Age
              </p>
              <p id="recentTrip">
                  Recent Trip?
              </p>
          </div>
      </div>

  </main>
  <footer>
    <% include ../partials/footer %>
    <script>
      $(document).ready(function(){
        $('#profile_nav').addClass('active');
      })
    </script>
  </footer>
  </body>
</html>
