<!-- views/pages/trip.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/src/css/profile.css" />
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <main class="container">
        <div id='profilePage'>
            <div id='profile' class="yellow lighten-5">
                <div id='profile_edit'>
                    <img id='profilePhoto' src='https://dummyimage.com/400x400/f5c57d/ffffff.png&text=profile' alt='profile' />
                    <div id='profilePhotoEditCon'>
                        <div id='profilePhotoEdit'>
                            <form id='photo_form' method="PUT" action="/api/users/setProfileImg">
                                <div class="file-field input-field">
                                    <div class="btn yellow darken-2">
                                        <span>Edit</span>
                                        <input type="file" id="profileImg" name="profileImg" accept="image/*">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id='profileSection' class="yellow-text text-darken-3">
                    <p>
                        User Name
                    </p>
                    <p>
                        Email
                    </p>
                    <p>
                        Age
                    </p>
                    <p>
                        Gender
                    </p>
                </div>
                <div id="profileDisplay" class="yellow-text">
                    <p id="userNameDisplay">
                        User Name</p>
                        <form id='userName_form' method="post" action="">
                            <div id='userName_con' class='input-field profileEditInputField row'>
                                <input type="text" id="userName" class="yellow-text col s6"/>
                                <div class="col s6 right-align">
                                    <button type="submit" id="userNameEditButton" class="btn-small right btn yellow darken-2 floatRight">Edit</button>
                                </div>

                            </div>
                        </form>

                    <p id="emailDisplay">
                        Email</p>
                    <p id="ageDisplay">
                        Age</p>
                    <form id='age_form' method="post" action="">
                        <div id='age_con' class='input-field profileEditInputField row'>
                            <input type="number" id="age" min="18" max="100" class="yellow-text col s6" />
                            <div class="col s6 right-align">
                                <button type="submit" id="ageEditButton" class="btn-small right btn yellow darken-2 floatRight">Edit</button>
                            </div>

                        </div>
                    </form>

                    <p id="genderDisplay">
                        Gender</p>
                    <form id='gender_form' method="post" action="">
                        <div id='gender_con' class='input-field profileEditInputField row'>
                            <select id="genderSelect" class="yellow-text col s6">
                                <option value="0" disabled  class="yellow-text">Gender</option>
                                <option value="f" class="yellow-text">Female</option>
                                <option value="m" class="yellow-text">Male</option>
                            </select>
                            <div class="col s6 right-align">
                                <button type="submit" id="genderEditButton" class="btn-small right btn yellow darken-2 floatRight">Edit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
        <script src="./src/js/profile.js"></script>
    </footer>
</body>

</html>
