<!-- views/pages/trip.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>

  <link rel="stylesheet" href="/src/css/profile.css" />

</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <main class="container">
      <div id='profilePage'>
          <div id='profile' class="yellow lighten-5 ">

              <img id='profilePhoto' src='https://dummyimage.com/400x400/f5c57d/ffffff.png&text=profile' alt='profile'/>
              <p id="userName" class="yellow-text text-darken-3">
                  User Name
              </p>
              <p id="email" class="yellow-text text-darken-3">
                 Email
              </p>
              <p id="gender" class="yellow-text text-darken-3">
                 Gender
              </p>
              <p id="age" class="yellow-text text-darken-3">
                 Age
              </p>
              <p id="recentTrip" class="yellow-text text-darken-3">
                  Recent Trip?
              </p>
          </div>
      </div>

  </main>
  <footer>
    <% include ../partials/footer %>
    <script>
      $(document).ready(function(){
        $('#profile_nav').addClass('active');
      })
    </script>
  </footer>
  </body>
</html>
