<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <form id="register">
      <input id="username" type="text" placeholder="name"/>
      <input id="email" type="text" placeholder="email"/>
      <input id="password" type="text" placeholder="password"/>
      <input id="submitButton" type="submit"/>
    </form>

  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
  </body>
</html>
