<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="./src/css/trips.css" />
</head>
<body class="container">
  <header id="header">
    <% include ../partials/header %>
  </header>
  <main>
    <h1 id="page_title" class="h1"></h1>
    <div id="content">
      <div class="row">
        <div id="cardDeck" class="col s12">
          <div class="row flex">
            <div class="col s12 m5 l3 testcon">
              <div>
                <h2> First panel</h2>
                <p class="white-text p">
                   This is my first panel
              </div>
              </p>
            </div>
            <div class="col s12 m5 l3 testcon">
              <div>
                <h2> First panel</h2>
                <p class="white-text p">
                   This is my first panel
                </p>
              </div>
            </div>
            <div class="col s12 m5 l3 testcon">
              <div>
                <h2> First panel</h2>
                <p class="white-text p">
                   This is my first panel
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
    <script src="./src/js/trips.js"></script>
  </footer>
  </body>
</html>
