<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/src/css/welcome.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
    <main class="container">
        <div id="loginRegisterCon">
            <!--welcome page-->
            <div id='welcomeMoment'>
                any Wear<br />
                Worry-free Traveling.<br />
                <button id='buttonIn' class="btn yellow darken-2">To Sign In</button>
                <button id='buttonUp' class="btn yellow darken-2">To Sign Up</button>
            </div>

            <!--sign in page-->
            <div id='signInMoment'>
                <form method="post" action="/login">

                    <div class='input-field'>
<<<<<<< HEAD
                        <input type="text" id="userNameForSignIn" class="validate" required="required" />
                        <label for="userNameForSignIn">User Name</label>
=======
                        <input type="text" id="emailForSignIn" required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Please fill in your destination.')" class="validate" />
                        <label for="emailForSignIn">Email</label>
>>>>>>> 4ddf0804f82e1f1f465084f38055a9c466256122
                    </div>
                    <div class='input-field'>
                        <input type="password" id="pwdForSignIn" required />
                        <label for="pwdForSignIn">Password</label>
                    </div>
                    <a href='#' id='buttonPassword'>Forgot password? </a>
                    <a href='#' id='buttonUp1'> Register?</a>
                    <br /><br />
                    <button type="submit" id="signedIn" class="btn yellow darken-2 floatRight">Sign In</button>
                </form>
                <button id='backToWelcom1' class="btn yellow darken-2 floatRight">Back to the main</button>
            </div>

            <!--finding password page-->
            <div id='passwordMoment'>
                <form method="post" action="/login">
                    <div class='input-field'>
                        <input type="text" id="userNameForPassword" class="validate" required="required" title = "The user name you used."/>
                        <label for="userNameForPassword">User Name</label>
                    </div>
                    <div class='input-field'>
                        <input type="email" id="emailForPassword" required="required" title = "The email address you used." />
                        <label for="emailForPassword">Email</label>
                    </div>
                    <a href='#' id='buttonIn1' class='floatRight'>Oh, I just remember my password</a>
                    <br />
                    <button type="submit" id="findingPassword" class="btn yellow darken-2 floatRight">Send me an email</button>
                </form>
            </div>

            <!--sign up page-->
            <div id='signUpMoment'>
                <form method="post" action="/register">
                    <div id='margin' class="row">

                        <div id='margin' class='input-field col s12'>
                            <input type="text" id="userName" pattern="[A-Za-z]{8,20}" required="required" title="This will be your user name!" />
                            <label for="userName">User Name *</label>
                        </div>
                    </div>
                    <div id='margin' class='row'>
                        <div id='margin' class='input-field col s6'>
                            <input type="password" id="pwd" pattern="[A-Za-z0-9]{8,20}" required="required" title="Password must be 8-20 characters long." />
                            <label for="pwd">Password *</label>
                        </div>
                        <div id='margin' class='input-field col s6'>
                            <input type="password" id="cfpwd" pattern="[A-Za-z0-9]{8,20}" required="required" />
                            <label for="cfpwd">Confirm Password </label>
                        </div>
                    </div>
                    <div id='margin' class='row'>
                        <div id='margin' class='input-field col s6'>
                            <input type="email" id="email" required="required" title="This will be used only when you forget your password." />
                            <label for="email">Email *</label>
                        </div>
                        <div id='margin' class='input-field col s6'>
                            <input type="email" id="cfemail" required="required" />
                            <label for="cfemail">Confirm Email</label>
                        </div>
                    </div>
                    <div id='margin' class='row'>
                        <div id='margin' class='input-field col s6'>
                            <input type="number" id="age" min="18" max="100" title="This will be used only for statistical purpose." />
                            <label for="age">Age</label>
                        </div>
                        <div id='margin' class="row">

                            <div id='margin' class='input-field col s6'>
                                <select>
                                    <option value="" disabled selected>Gender</option>
                                    <option value="f">Female</option>
                                    <option value="m">Male</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div id='margin' class="file-field input-field">
                        <div class="btn yellow darken-2">
                            <span>File</span>
                            <input type="file" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Your Photo">
                        </div>
                    </div>
                    <button type="submit" id="signedUp" class="btn yellow darken-2 floatRight">Sign Up</button>
                </form>
                <button id='backToWelcom2' class="btn yellow darken-2 floatRight">Back to the main</button>

            </div>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write("<script src='../../assets/js/vendor/jquery-slim.min.js'></script>")
    </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="./src/js/welcome.js"></script>
</body>

</html>
