body, html .my-wrapper{
  height:100%
}

#createtrip_main{
}

#search_container {
}

#inner {
  width: 100%;
}
#bag_container {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  display: block;
}

.card {
  display: inline-block;
  margin-right: 1em;
}

#inner {
  overflow: hidden;
  display: inline-block;
}
@media only screen and (max-width: 600px) { .row.valign-wrapper { display: inherit; } }
