/* Handles carousel imaging and positioning */
#carouselOuterContainer {
  position: relative;
}

#carouselBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position: center center;
}

#temperature {
  position: absolute;
  right: 0;
  top: 2em;
  background-color: rgba(255, 255, 255, 0.6);
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}

#countryHeader {
  height: 1em;;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}

#carouselID {
  height:600px;
}
.carousel, .carousel-slider{

}
.carousel-item {
  width: 175px !important;
}


#indicatorContainer {

}

/* CSS for individual card outfits */
.outfitImageCon {
  width: 200px;
  padding-bottom: 3em;
}



.outfitItem {
  width: 100vw;
  background-color: lightblue;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#outfitSection {
  margin-top: 2em;
}

#outfit_calendar_con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}


.card img {
  display: block;
  width: 150px;
  padding: 2px;
  margin: 0 auto;
}
.card {
  /* display: inline-block; */
  position: relative;
  padding-bottom: 4em;
  padding-top: 1em;
}

.card-content {
  position: absolute;
  bottom: 0;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator{
   position:relative;
   top:300px;
 }
.middle-indicator-text{
 font-size: 4.2rem;
}
a.middle-indicator-text{
  color: #bdbdbd !important;
}
.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
  .indicators{
	visibility: hidden;
}



@media screen and (max-width: 1201px) {
  #outfit_calendar_con {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}


@media screen and (max-width: 993px) {
  #outfit_calendar_con {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}

@media screen and (max-width: 601px) {
  #outfit_calendar_con {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}
