
#profilePage{
    padding: 3em;
}
#profile{
    width: 340px;
    display: block;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom:  5em;
    box-shadow: 1px 1px 5px 1px rgba(180,180,180,0.25);
    border-radius: 10%;
}
#profilePhoto{
    display: block;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
    position: relative;
    top:-5em;
}

#profile p{
    display:block;
    width: 200px;
    margin: 0 auto;
    margin-top: 1.5em;
    position: relative;
    top:-4em;
}
