/* Overlay for when swap menus are selected */
#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.brand-logo {
  /* z-index: 9999; */
  font-family: 'Kanit', sans-serif !important;
}
.sidenav-overlay{
  z-index: 0 !important;
}

#background-back {
  position: fixed;
  z-index: -100;
  top: 0;
  left: 0;
  background-image: url("./src/img/background/airplanesun.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(10px);
}

body {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

main {
  flex: 1 0 auto !important;
}

nav {
    box-shadow: none !important;
    /* border-bottom: 1px solid rgb(255, 210, 122); */
    border-bottom: 1px solid rgb(232, 232, 232);
}

nav .brand-logo {
    padding-left: 5px !important;
}

footer {
  border-top: 1px solid rgb(232, 232, 232);
  /* border-top: 1px solid rgb(255, 210, 122); */
}



 /* label focus color */
 .input-field input:focus + label {
   color: #E29800 !important;
 }
 .input-field select {
   color: #E29800 !important;
 }
 /* label underline focus color */
 .input-field input:focus {
   border-bottom: 1px solid #E29800 !important;
   box-shadow: 0 1px 0 0 #E29800 !important;
 }
 /* valid color */
 .input-field input.valid {
   border-bottom: 1px solid #E29800 !important;
   box-shadow: 0 1px 0 0 #E29800 !important;
 }
 /* invalid color */
 .input-field input.invalid {
   border-bottom: 1px solid #E26000 !important;
   box-shadow: 0 1px 0 0 #E26000 !important;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #E29800 !important;
 }



/* Changing colour for dropdown */
 .dropdown-content > li > span {
     color: #E29800;
 }


/* Changing Calendar color */
.datepicker-date-display {
  background-color: #E29800;
}
.is-selected {
  background-color: #E29800;
}

.datepicker-controls .select-month input {
  width: 80px;
}


.icon_delete:hover {
  cursor: pointer;
}

/* Overlay swap and remove styles */
.overlay_menu {
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 10;
  display: none;
}

.overlay_top{
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  width: 100%;
  height: 50%;
  text-align: center;
  bottom: 0;
}

.overlay_top p{
  position: absolute;
  margin:0;
  padding-bottom: 1.3em;
  width: 100%;
  bottom: 0;
}
.overlay_bottom{
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 2px solid rgba(140, 140, 140, 1);
  width: 100%;
  height: 50%;
  text-align: center;
}

.overlay_bottom p {
  margin: 0;
  padding-top: 1em;
}
.overlay_con {
  width: 100%;
  height: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

body {
  background-color:rgba(240, 240, 240, 1);
  color: #292a33!important;
}
