/* Swap overlay goes in here */


#edit-overlay {
  display:none;
  z-index: 1001;
}
#edit-center {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  z-index: 1001;
}

#edit-con {
  padding: 2em;
  position: fixed;

  height: 550px;
  background-color: lightgrey;

  display: flex;
  justify-content: center;
  align-items: center;
}

#edit-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(150px, 150px);
}
#left-grid {
  grid-row: span 2;
}
#mid-grid {
  grid-row: span 2;

}
#right-grid {
  flex-wrap: wrap;
  overflow: auto;
  grid-row: span 2;
}
#right-grid::-webkit-scrollbar {
  display: none;
}
#right-grid img {
  display: initial !important;
  margin: 0.2em;
}

#button-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  grid-column: 1 / span 3;
}

.edit_grid_section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  font-size: 3em;
  max-width: 200px;
}


/* Outside of swap overlay content is out here */

#content {
  margin-bottom: 1em;
}

#page_title {
}

.flex {

}
.trip_con{
  background-size: cover;
  /* padding: 1em; */
  position: relative;
}

.trip_description  {
  text-shadow: 0px 0px 4px black;

}
.trip_title {

}

.margin_con {


}

.trip_background_con {
  position: relative;
  padding: 1em;
}

.icon_delete{
  position: absolute;
  right: 0;
}

.overlay_menu {
  position: absolute;
  background-color: lightgrey;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 10;
  display: none;
}

.overlay_top{
  background-color: blue;
  position: relative;
  width: 100%;
  height: 50%;
  text-align: center;
  bottom: 0;
}

.overlay_top p{
  /* padding: 0; */
  position: absolute;
  margin:0;
  padding-bottom: 1.3em;
  width: 100%;
  bottom: 0;
}
.overlay_bottom{
  background-color: orange;
  width: 100%;
  height: 50%;
  text-align: center;
}

.overlay_bottom p {
  margin: 0;
  padding-top: 1em;
}
.overlay_con {
  width: 100%;
  height: 100%;
}


#trip_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 993px) {
  #trip_container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}

@media screen and (max-width: 601px) {
  #trip_container {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
  }
}

@media screen and (max-width: 1201px) {

}
