#content {
  margin-bottom: 1em;
}

#page_title {
}

.flex {

}
.trip_con{
  background-size: cover;
  padding: 1em;
}

.trip_con div {

}

.trip_description  {
  text-shadow: 0px 0px 4px black;

}
.trip_title {

}

.margin_con {


}

.trip_background_con {

}

#trip_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}
