#welcomeMoment, #signInMoment, #signUpMoment, #passwordMoment {
    width: 27em;
        height:22em !important;
        margin-left: 20em;
}

#welcomeMoment{
    padding-top: 2em;
}
.floatRight{
    float: right;
}

#signInMoment, #signUpMoment, #passwordMoment {
    text-align: center;
    display: none;
}

#signUpMoment input{
    height : 2.4em;
}

.marginForWelcome {
    margin-top: 0.1em !important;
    margin-bottom: 0.2em !important;
}
.container{
    width : 100% !important;
}

button {
    margin: 1em;
}

#passwordMoment a{
    margin-right: 1em;
}

a {
    margin-left: 1em;
    color:#E29800;
}

.ui-tooltip {
    width: 13em;
}


/* How to change first item in drop down menu */
/* li:nth-child(1) {
  min-height: 0px !important;
  height: 25px;
  padding: 0 !important;
}

li:nth-child(1) span {
  line-height: 100px !important;
} */
