#welcomeMoment, #signInMoment, #signUpMoment, #passwordMoment {
    width: 27em;
        height:22em !important;
        margin-left: 20em;
}

#welcomeMoment{
    padding-top: 2em;
}

.floatRight{
    float: right;
}

#signInMoment, #signUpMoment, #passwordMoment {
    text-align: center;
    display: none;
}

#signUpMoment input{
    height : 2.4em;
}

.marginForWelcome {
    margin-top: 0.1em !important;
    margin-bottom: 0.2em !important;
}
.container{
    width : 100% !important;
}

button {
    margin: 1em;
}

#passwordMoment a{
    margin-right: 1em;
}

a {
    margin-left: 1em;
    color:#E29800;
}

.ui-tooltip {
    width: 13em;
}

#welcomeContent{
    padding-bottom: 2rem !important;
}


@media screen and (max-width: 800px) {
    #welcomeMoment, #signInMoment, #signUpMoment, #passwordMoment {
        margin : auto;
    }
}
@media screen and (max-width: 380px) {
    .descriptionForWelcome{
        padding-left: 1em;
    }
    #welcomeMoment, #signInMoment, #signUpMoment, #passwordMoment {
        width: auto;
    }
}
