#welcomeMoment, #signingIn, #signingUp {
    width: 30em;
    height: 20em;
    border: solid black 1px;
    position: absolute;
    top: 20%;
    left: 15%;
}

#signIn, #signUp {
    width: 6em;
    height: 2em;
    margin-left: 3em;
}

#signingIn, #signingUp {
    text-align: center;
}

button {
    margin: 2em;
    float: right;
}

input {
    border: none;
    border-bottom: 2px solid #6f6f6f;
    outline: none;
    background: transparent;
    text-align: center;
    width: 10em;
}

input:focus {
    border-bottom: 2px solid #000000;
}
